<img src="/assets/yay.svg" alt="¡Yay!" class="intro-img" />

<!-- Puedes poner aquí tu título de bienvenida si quieres -->
<!-- <h1 class="intro-title">¡Bienvenido a FullFran Blog!</h1> -->

<style>
    .intro-img {
        @apply mx-auto w-2/3 max-w-xs md:max-w-sm mt-6 mb-2 drop-shadow-lg;
    }
    .intro-title {
        @apply w-full justify-center text-center text-3xl font-bold text-cyan-600 dark:text-cyan-400 py-10;
    }
</style>
